body{
    text-align: center;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: 2em;
}

div{
    background-color: aquamarine;
    height: 5em;
}

img{
    border: solid black 5px;
    border-radius: 15px;
}

ul{
    background-color: coral;
}