h1{
    background: linear-gradient(to left,aquamarine,greenyellow);
    background-size: 5em;
    background-clip: text;
    color: transparent;
}

body{
    text-align: center;
}

p{
    animation-name: change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to left,aquamarine,greenyellow,magenta,black,purple);
    background-size: 5em;
    background-clip: text;
    color: transparent;


}

@keyframes change {
    from{
          background-position: 50% 50%;
    }

    to{
        background-position: 100% 100%;
    }
}