#fig1{
    height: 10em;
    width: 10em;
    background-color: aquamarine;
}

#fig2{
    height: 10em;
    width: 10em;
    background-color: yellowgreen;
    border-radius: 50%;
}

#fig3{
    height: 10em;
    width: 10em;
    background-color: burlywood;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#fig4{
    height: 10em;
    width: 10em;
    background-color: red;
    animation-name: camb;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.contain{
    display: flex;
    justify-content: space-evenly;
}

.contain1{
    display: flex;
    justify-content: center;
}

@keyframes camb {
    from{
        border-radius: 0;
    }

    to{
        border-radius: 50%;
    }
}